.Button {
  font-weight: 700;
  border: 0;
  border-radius:  var(--border-radius-regular);
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 16px;
  padding: 10px 15px;
}

.Button--primary {
  color: white;
  background-color: var(--color-primary);
}

.Button--secondary {
  color: var(--color-primary);
  background-color: transparent;
  box-shadow: var(--color-primary) 0px 0px 0px 1px inset;
}