.ApplicationPageStep {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ApplicationPageStepHeading {
  margin-bottom: 20px;
}

.ApplicationPageChildrenContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ApplicationPageButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ApplicationPageButtonContainer--SingleButton {
  justify-content: flex-end;
}
