/* CSS Globals */
:root {
  --color-primary: #D81B5D;

  --color-disabled: red;

  --color-text-regular: red;
  --color-text-lighter: red;
  --color-text-white: #FFFFFF;
  --color-text-placeholder: red;
  --color-text-error: red;

  --color-background-input: red;
  --color-background-input-error: red;
  --color-background-input-hover: red;
  --color-background-input-selected: red;
  --color-background-dark: red;

  --color-border: red;

  --border-radius-regular: 4px;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
